<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Vue.js Sample</title>
        <script src="/webjars/vue/2.1.8/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div><input type="text" v-model="username"></div>
            <div><input type="password" v-model="password"></div>
            <div><button v-on:click="login">Login</button></div>
        </div>

        <script src="/sample.js"></script>
    </body>
</html>
