<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{:: title/content()}, ~{:: body/content()})}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>htmxの例</title>
</head>

<body>
    <ul hx-boost="true">
        <li><a th:href="@{/page-transition}">画面遷移</a></li>
        <li><a th:href="@{/form-submission}">フォーム送信</a></li>
        <li><a th:href="@{/file-uploading}">ファイルアップロード</a></li>
    </ul>
</body>

</html>