services:
  reverse-proxy:
    image: nginx
    ports: [ "8080:80" ]
    volumes:
      - "./docker/reverse-proxy/nginx.conf:/etc/nginx/conf.d/default.conf:ro"
  # app:
  #   image: example-app

  httpbin:
    image: kennethreitz/httpbin
    ports: [ "8081:80" ]