<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Download sample</title>
    <meta name="_csrf_header" data-th-content="${_csrf.headerName}"/>
    <meta name="_csrf" data-th-content="${_csrf.token}"/>
  </head>
  <body>
    <p>
      <button id="download" data-th-attr="data-url=@{'/download'}">
        Download
      </button>
    </p>
    <script src="../static/js/index.js" data-th-src="@{'/js/index.js'}"></script>
  </body>
</html>
